.corleon-field {
    &.checkbox {
        gap: 6px;
        &.horizontal {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        >span {
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}