.corleon-form-builder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .form-builder-field {
        width: 100%;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 1px 2px 3px 3px #ddd;
        transition: all .1s ease-in-out;
        cursor: move;

        .form-builder-field-name {
            font-weight: bold;
            font-size: 1.125rem;
        }

        .form-builder-field-type {
            font-size: 0.875rem;
        }

        .form-builder-field-actions {
            display: flex;
            justify-content: flex-end;
            >div {
                display: flex;
                gap: 3px;
            }
        }
    }
}